<div class="row">
  <div class="col-xl-12">
    <div class="row row-full-height">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <kt-portlet
          [class]="
            'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'
          "
        >
          <mat-progress-bar
            *ngIf="loading"
            mode="indeterminate"
          ></mat-progress-bar>
          <kt-portlet-body [class]="'kt-portlet__body--fluid'">
            <kt-widget26
              [value]="totalSchools"
              [desc]="'Total Schools'"
              [options]="chartOptions1"
            ></kt-widget26>
          </kt-portlet-body>
        </kt-portlet>

        <div class="kt-space-20"></div>
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
        ></mat-progress-bar>
        <kt-portlet
          [class]="
            'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'
          "
        >
          <kt-portlet-body [class]="'kt-portlet__body--fluid'">
            <kt-widget26
              [value]="totalStudents"
              [desc]="'Total Students'"
              [options]="chartOptions2"
            ></kt-widget26>
          </kt-portlet-body>
        </kt-portlet>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6">
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
        ></mat-progress-bar>
        <kt-portlet
          [class]="
            'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'
          "
        >
          <kt-portlet-body [class]="'kt-portlet__body--fluid'">
            <kt-widget26
              [value]="totalTeachers"
              [desc]="'Total Teachers'"
              [options]="chartOptions3"
            ></kt-widget26>
          </kt-portlet-body>
        </kt-portlet>

        <div class="kt-space-20"></div>
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
        ></mat-progress-bar>
        <kt-portlet
          [class]="
            'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'
          "
        >
          <kt-portlet-body [class]="'kt-portlet__body--fluid'">
            <kt-widget26
              [value]="enumerators"
              [desc]="'Total Users'"
              [options]="chartOptions4"
            ></kt-widget26>
          </kt-portlet-body>
        </kt-portlet>
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-6">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Order Statistics'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget12></kt-widget12>
      </kt-portlet-body>
    </kt-portlet>
  </div> -->
</div>

<div class="col-xl-12 my-4">
  <mat-progress-bar
    *ngIf="loadingAttendanceReport"
    mode="indeterminate"
  ></mat-progress-bar>
  <kt-portlet>
    <kt-portlet-header
      [title]="'Best Performing School in Attendance'"
      [class]="
        'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
      "
    >
      <ng-container ktPortletTools>
        <!-- <kt-context-menu></kt-context-menu> -->
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body [class]="'kt-portlet__body--fit'">
      <!-- Checkbox Column -->
      <ng-container>
        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-xl-8">
                <form (ngSubmit)="filterData()" class="pb-4">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input
                          [formControl]="dateRange"
                          matInput
                          type="text"
                          name="daterange"
                          value=""
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 pl-5">
                      <button
                        mat-raised-button
                        color="primary"
                        style="width: 100%"
                        aria-label="Example icon button with a home icon"
                      >
                        <mat-icon>filter_list</mat-icon>
                        Filter
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        aria-label="Example icon button with a home icon"
                        style="width: 100%"
                        (click)="reset($event)"
                      >
                        <mat-icon>filter_list</mat-icon>
                        Reset
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="d-flex justify-content-center align-items-center">
                <!-- <kt-widget14></kt-widget14> -->
                <div class="kt-widget12__chart" style="height: 250px">
                  <canvas
                    #chart
                    id="kt_chart_order_statistics"
                    height="312"
                    style="width: 100% !important"
                  ></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-xl-12">
              <div class="text-center mb-2">
                <h4>{{ schoolname }}</h4>
              </div>
              <div class="text-center mb-2">
                <h4>{{ state }}</h4>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </kt-portlet-body>
  </kt-portlet>
</div>

<!-- <kt-portlet>
  <kt-portlet-body [class]="'kt-portlet__body--fit'">
    <div class="row row-no-padding row-col-separator-xl">
      <div class="col-xl-4">
        <kt-widget1></kt-widget1>
      </div>
      <div class="col-xl-4">
        <kt-widget14
          [title]="'Daily Sales'"
          [desc]="'Check out each collumn for more details'"
        ></kt-widget14>
      </div>
      <div class="col-xl-4">
        <kt-widget14
          [title]="'Revenue Change'"
          [desc]="'Revenue change breakdown by cities'"
        ></kt-widget14>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet> -->

<!-- <div class="row">
  <div class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Download Files'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget4 [data]="widget4_1">
          <ng-template #actionTemplate let-item="item">
            <div class="kt-widget4__tools">
              <a href="javascript:;" class="btn btn-clean btn-icon btn-sm">
                <i
                  class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"
                ></i>
              </a>
            </div>
          </ng-template>
        </kt-widget4>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'New Users'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget4 [data]="widget4_2">
          <ng-template #actionTemplate let-item="item">
            <a
              href="javascript:;"
              class="btn btn-sm"
              [ngClass]="item.buttonClass"
              >Follow</a
            >
          </ng-template>
        </kt-widget4>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Latest Updates'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget4 [data]="widget4_3">
          <ng-template #actionTemplate let-item="item">
            <span class="kt-widget4__number" [ngClass]="item.valueColor">{{
              item.value
            }}</span>
          </ng-template>
        </kt-widget4>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xl-12">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="'All Enumerators'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <kt-data-table></kt-data-table>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xl-8">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Best Sellers'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget5></kt-widget5>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Recent Activities'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-timeline2></kt-timeline2>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div> -->

<!-- <kt-portlet>
  <kt-portlet-header>
    <ng-container ktPortletTitle> </ng-container>
    <ng-container ktPortletTools> </ng-container>
  </kt-portlet-header>
  <kt-portlet-body></kt-portlet-body>
  <kt-portlet-footer></kt-portlet-footer>
</kt-portlet> -->
