<div class="row mb-2">
  <div class="col-xl-8">
    <mat-progress-bar
      *ngIf="loadingFilterBox"
      mode="indeterminate"
    ></mat-progress-bar>
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="'Filter Report'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <!-- <kt-context-menu></kt-context-menu> -->
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <ng-container ktPortletTools>
          <div class="container">
            <form (ngSubmit)="filterData()" class="pb-4">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select
                      placeholder="State"
                      [formControl]="statesSelected"
                      (selectionChange)="onStateSelectionChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        {{
                          statesSelected.value ? statesSelected.value[0] : ""
                        }}
                        <span
                          *ngIf="statesSelected.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ statesSelected.value.length - 1 }} others)
                        </span>
                      </mat-select-trigger>

                      <mat-option [value]="'All'">All</mat-option>
                      <mat-option
                        *ngFor="let topping of states"
                        [value]="topping.name"
                        >{{ topping.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select
                      placeholder="Local Government Area"
                      [formControl]="lgaSelected"
                      (selectionChange)="onlgaSelectionChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        {{ lgaSelected.value ? lgaSelected.value[0] : "" }}
                        <span
                          *ngIf="lgaSelected.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ lgaSelected.value.length - 1 }} others)
                        </span>
                      </mat-select-trigger>
                      <mat-option [value]="'All'">All</mat-option>
                      <mat-option
                        *ngFor="let topping of localgovernments"
                        [value]="topping.name"
                        >{{ topping.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select
                      placeholder="School"
                      [formControl]="schoolSelected"
                      multiple
                    >
                      <mat-select-trigger>
                        {{
                          schoolSelected.value ? schoolSelected.value[0] : ""
                        }}
                        <span
                          *ngIf="schoolSelected.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ schoolSelected.value.length - 1 }} others)
                        </span>
                      </mat-select-trigger>
                      <mat-option [value]="'All'">All</mat-option>
                      <mat-option
                        *ngFor="let topping of schools"
                        [value]="topping.schoolName"
                        >{{ topping.schoolName }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="px-3">
                    <button
                      mat-raised-button
                      color="primary"
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>filter_list</mat-icon>
                      Filter
                    </button>
                  </div>
                </div>
              </div>
              <div class="row"></div>
            </form>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet>
      <kt-portlet-header
        [title]="'Total Number of Teachers'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <!-- Checkbox Column -->
        <ng-container>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center align-items-center">
                  <h1>{{ totalCount }}</h1>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
<div class="row">
  <div [ngClass]="{ 'col-xl-12': !editMode, 'col-xl-8': editMode }">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet>
      <kt-portlet-header
        [title]="'All Teachers'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <div class="row">
          <div class="col-md-12">
            <div class="px-3">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Searching for..."
                  #input
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-table #table [dataSource]="dataSource">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                  >
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                  >
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="registrationNumber">
                <mat-header-cell *matHeaderCellDef>
                  Registration Number
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.registrationNumber }}
                </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.surname }}
                </mat-cell>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="otherNames">
                <mat-header-cell *matHeaderCellDef>
                  Other Names
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.otherNames }}
                </mat-cell>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="schoolName">
                <mat-header-cell *matHeaderCellDef> School </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.schoolName }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.state }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <!-- <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                  > -->
                  <!-- </mat-checkbox> -->
                  Actions
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                  >
                  </mat-checkbox> -->
                  <button
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a home icon"
                    (click)="onRowElementClick($event, element)"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="selection.toggle(row)"
              >
              </mat-row>
            </mat-table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div *ngIf="editMode" class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <ng-container ktPortletTools>
        <div class="container school-detail">
          <div class="row py-4">
            <div class="col-xl-12">
              <div class="d-flex justify-content-end">
                <button
                  mat-icon-button
                  (click)="closeDetailPage($event)"
                  color="accent"
                  aria-label="Example icon button with a delete icon"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="school.profile_url !== null" class="row">
            <div class="col-xl-12">
              <div class="image-avatar-wrapper">
                <img
                  class="image-avatar"
                  alt="profile"
                  src="{{ school.profile_url }}"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>Surname</span>
              <h6>{{ school.surname }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Other Names</span>
              <h6>{{ school.otherNames }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>School</span>
              <h6>{{ school.schoolName }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Email Address</span>
              <h6>{{ school.email }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>Regsitration Number</span>
              <h6>{{ school.registrationNumber }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Qualification</span>
              <h6>{{ school.qualification }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>Date of Birth</span>
              <h6>{{ school.dateOfBirth | date: "mediumDate" }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Subject Taught</span>
              <h6>{{ school.subjectTaught }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>Contact Number</span>
              <h6>{{ school.telePhoneNumber }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Teaching Type</span>
              <h6>{{ school.teachingType }}</h6>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-xl-12">
              <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
          </div> -->
        </div>
      </ng-container>
    </kt-portlet>
  </div>
  <!-- <div class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Authors Profit'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget4 [data]="widget4_4">
          <ng-template #actionTemplate let-item="item">
            <span class="kt-widget4__number" [ngClass]="item.valueColor">{{
              item.value
            }}</span>
          </ng-template>
        </kt-widget4>
      </kt-portlet-body>
    </kt-portlet>
  </div> -->
</div>
