<div class="row mb-2">
  <div class="col-xl-8">
    <mat-progress-bar
      *ngIf="loadingFilterBox"
      mode="indeterminate"
    ></mat-progress-bar>
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="'Filter Report'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <!-- <kt-context-menu></kt-context-menu> -->
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <ng-container ktPortletTools>
          <div class="container">
            <form (ngSubmit)="filterData()" class="pb-4">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select
                      placeholder="State"
                      [formControl]="statesSelected"
                      (selectionChange)="onStateSelectionChange($event)"
                    >
                      <mat-select-trigger>
                        {{ statesSelected.value }}
                      </mat-select-trigger>
                      <!-- <mat-option [value]="'All'">All</mat-option> -->
                      <mat-option
                        *ngFor="let topping of states"
                        [value]="topping.name"
                        >{{ topping.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select
                      placeholder="Local Government Area"
                      [formControl]="lgaSelected"
                      (selectionChange)="onlgaSelectionChange($event)"
                    >
                      <mat-select-trigger>
                        {{ lgaSelected.value }}
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let topping of localgovernments"
                        [value]="topping.name"
                        >{{ topping.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select
                      placeholder="School"
                      [formControl]="schoolSelected"
                    >
                      <mat-select-trigger>
                        {{ schoolSelected.value }}
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let topping of schools"
                        [value]="topping.schoolName"
                        >{{ topping.schoolName }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input
                      [formControl]="dateRange"
                      matInput
                      type="text"
                      name="daterange"
                      value=""
                    />
                    <!-- <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker> -->
                    <!-- <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date" />
                      <input matEndDate placeholder="End date" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker> -->
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <div class="px-3">
                    <button
                      mat-raised-button
                      color="primary"
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>filter_list</mat-icon>
                      Filter
                    </button>
                  </div>
                </div>
              </div>
              <div class="row"></div>
            </form>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet>
      <kt-portlet-header
        [title]="'Attendance Distribution'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <!-- <kt-context-menu></kt-context-menu> -->
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <!-- Checkbox Column -->
        <ng-container>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center align-items-center">
                  <!-- <kt-widget14></kt-widget14> -->
                  <div class="kt-widget12__chart" style="height: 250px">
                    <canvas
                      #chart
                      id="kt_chart_order_statistics"
                      height="312"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
<div class="row">
  <div class="col-xl-8">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="''"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <mat-table #table [dataSource]="dataSource">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <!-- Position Column -->

          <!-- Name Column -->

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>
              Attendance Date
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.date }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="count">
            <mat-header-cell *matHeaderCellDef> Total Count </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.count }} </mat-cell>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <!-- <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              > -->
              <!-- </mat-checkbox> -->
              Actions
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox> -->
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
                (click)="onRowElementClick($event, element)"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          >
          </mat-row>
        </mat-table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet>
      <kt-portlet-header
        [title]="'Total Count'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <!-- Checkbox Column -->
        <ng-container>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center align-items-center">
                  <h1>{{ totalCount }}</h1>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
