.school-detail {
  padding-top: 8px;
  span {
    margin-bottom: 8px;
  }
  h6 {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.map-wrapper {
  height: 400px;
}

.mat-header-cell {
  color: #000 !important;
  font-weight: bold;
}
