<div class="row mb-2">
  <div class="col-xl-8">
    <mat-progress-bar
      *ngIf="loadingFilterBox"
      mode="indeterminate"
    ></mat-progress-bar>
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="'Filter Report'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <!-- <kt-context-menu></kt-context-menu> -->
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <ng-container ktPortletTools>
          <div class="container">
            <form (ngSubmit)="filterData()" class="pb-4">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select
                      placeholder="State"
                      [formControl]="statesSelected"
                      (selectionChange)="onStateSelectionChange($event)"
                      multiple
                    >
                      <mat-select-trigger>
                        {{
                          statesSelected.value ? statesSelected.value[0] : ""
                        }}
                        <span
                          *ngIf="statesSelected.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ statesSelected.value.length - 1 }} others)
                        </span>
                      </mat-select-trigger>

                      <!-- <mat-option [value]="'All'">All</mat-option> -->
                      <mat-option
                        *ngFor="let topping of states"
                        [value]="topping.name"
                        >{{ topping.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select
                      placeholder="Local Government Area"
                      [formControl]="lgaSelected"
                      multiple
                    >
                      <mat-select-trigger>
                        {{ lgaSelected.value ? lgaSelected.value[0] : "" }}
                        <span
                          *ngIf="lgaSelected.value?.length > 1"
                          class="example-additional-selection"
                        >
                          (+{{ lgaSelected.value.length - 1 }} others)
                        </span>
                      </mat-select-trigger>
                      <!-- <mat-option [value]="'All'">All</mat-option> -->
                      <mat-option
                        *ngFor="let topping of localgovernments"
                        [value]="topping.name"
                        >{{ topping.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="px-3">
                    <button
                      mat-raised-button
                      color="primary"
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>filter_list</mat-icon>
                      Filter
                    </button>
                  </div>
                </div>
              </div>
              <div class="row"></div>
            </form>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-4">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet>
      <kt-portlet-header
        [title]="'Total Number of Schools'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <!-- Checkbox Column -->
        <ng-container>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="d-flex justify-content-center align-items-center">
                  <h1>{{ totalCount }}</h1>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>

<div class="row">
  <div [ngClass]="{ 'col-xl-12': !editMode, 'col-xl-8': editMode }">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="'All Schools'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <kt-context-menu></kt-context-menu>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-between">
              <div class="px-3">
                <mat-form-field>
                  <mat-label>Search</mat-label>
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Searching for..."
                    #input
                  />
                </mat-form-field>
              </div>
              <div class="px-3">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="exportPDF()"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>filter_list</mat-icon>
                  Export PDF
                </button>
                <button
                  mat-raised-button
                  color="secondary"
                  class="ml-2"
                  (click)="ExportTOExcel()"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>filter_list</mat-icon>
                  Export Excel
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-table
              #table
              id="ExampleMaterialTable"
              [dataSource]="dataSource"
            >
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [disabled]="true"
                  >
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [disabled]="true"
                  >
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="schoolName">
                <mat-header-cell *matHeaderCellDef>
                  School Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.schoolName }}
                </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="schoolNumber">
                <mat-header-cell *matHeaderCellDef>
                  School Number
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.schoolNumber }}
                </mat-cell>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.state }}
                </mat-cell>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="schoolCoordinate">
                <mat-header-cell *matHeaderCellDef>
                  School Coordinate
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.schoolCoordinate }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="lga">
                <mat-header-cell *matHeaderCellDef>
                  Local Government Area
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.lga }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <!-- <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                  > -->
                  <!-- </mat-checkbox> -->
                  Actions
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                  >
                  </mat-checkbox> -->
                  <button
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a home icon"
                    (click)="onRowElementClick($event, element)"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="selection.toggle(row)"
              >
              </mat-row>
            </mat-table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div *ngIf="editMode" class="col-xl-4">
    <kt-portlet>
      <ng-container ktPortletTools>
        <div class="container school-detail">
          <div class="row py-4">
            <div class="col-xl-12">
              <div class="d-flex justify-content-end">
                <button
                  mat-icon-button
                  (click)="closeDetailPage($event)"
                  color="accent"
                  aria-label="Example icon button with a delete icon"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>School Name</span>
              <h6>{{ school.schoolName }}</h6>
            </div>
            <div class="col-xl-6">
              <span>School Number</span>
              <h6>{{ school.schoolNumber }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>State</span>
              <h6>{{ school.state }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Local Government Area</span>
              <h6>{{ school.lga }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <span>School Owner</span>
              <h6>{{ school.owner }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <span>Principal</span>
              <h6>{{ school.principal }}</h6>
            </div>
            <div class="col-xl-6">
              <span>Type of School</span>
              <h6>{{ school.typeOfSchool }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <span>Owner</span>
              <h6>{{ school.owner }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <span>Gender Category</span>
              <h6>{{ school.genderCategory }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <span>Address</span>
              <h6>{{ school.address }}</h6>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-xl-12">
              <div style="height: 200px">
                <agm-map class="h-100" [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>
            </div>
          </div> -->
        </div>
      </ng-container>
    </kt-portlet>
  </div>
  <!-- <div class="col-xl-4">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [title]="'Authors Profit'">
        <ng-container ktPortletTools>
          <kt-context-menu2></kt-context-menu2>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body>
        <kt-widget4 [data]="widget4_4">
          <ng-template #actionTemplate let-item="item">
            <span class="kt-widget4__number" [ngClass]="item.valueColor">{{
              item.value
            }}</span>
          </ng-template>
        </kt-widget4>
      </kt-portlet-body>
    </kt-portlet>
  </div> -->
</div>



<div class="row">
  <div class="col-xl-12">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header
        [title]="'Schools Location on Map'"
        [class]="
          'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'
        "
      >
        <ng-container ktPortletTools>
          <!-- <kt-context-menu></kt-context-menu> -->
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <ng-container>
          <div class="map-wrapper">
            <agm-map class="h-100" [latitude]="lat" [longitude]="lng">
              <agm-marker
                *ngFor="let item of locations"
                [latitude]="item.lat"
                [longitude]="item.lng"
                [markerClickable]="true"
                (markerClick)="markerClicked($event, item)"
              >
                <agm-info-window
                  [isOpen]="isInfoWindowOpen(item.id)"
                  [latitude]="item.lat"
                  [longitude]="item.lng"
                  ><div class="container">
                    <div class="row mb-1">
                      <h4>
                        <mat-icon>school</mat-icon
                        >{{ schoolOnView?.schoolName }}
                      </h4>
                    </div>
                    <div class="row">
                      <h5>
                        <mat-icon>location_on</mat-icon>{{ schoolOnView?.lga }},
                        {{ schoolOnView?.state }}
                      </h5>
                    </div>
                  </div></agm-info-window
                >
              </agm-marker>
            </agm-map>
          </div>
        </ng-container>
      </kt-portlet-body>
    </kt-portlet>
  </div>
</div>
